#container {
    display: grid;
    grid-template-areas:
        "screen screen"
        "numbers operators";
}

.screen {
    grid-area: screen;
}

.number {
    grid-area: numbers;
}

.operator {
    grid-area: operators;
}